.detail-input input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    margin: 5px;
}

.detail-input button {
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    border: 2px solid white;
    margin: 10px;
    width: 200px;
    
    /* margin-left: 60px; */

}

form {
    margin-top:150px;
}

