.detail-input input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    margin: 5px;
}

.detail-input button {
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    border: 2px solid white;
    margin: 10px;
    width: 200px;
    
    /* margin-left: 60px; */

}

form {
    position:fixed;
    /* margin-top:100px;
    margin-left:30px; */
    top:200px;
    left:30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}